html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

/* General Text Styling */
h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 4rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: "Source Sans Pro", serif;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    display: inline-block;
    font-family: "Source Sans Pro", serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
    background: green;
    padding: 0.15rem;
    margin-bottom: 1rem;
}

h3.highlight {
    background: green;
    padding: 1rem;
}

h4 {
    font-family: "Source Serif Pro", serif;
    font-size: 1.2rem;
}

h5 {
    font-family: "Source Serif Pro", serif;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.5rrem;
}

p {
    font-family: "Source Serif Pro", serif;
    margin: 0;
    font-size: 1rem;
}

/* Landing Section */
.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background: red;
    text-align: center;
}

.landing_text_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#headshot {
    width: 60%;
    max-width: 500px;
    border-radius: 50%;
    border: solid white 0.5rem;
}

/* Resume Section */
.resume_container {
    width: 100%;
    padding: 1rem;
    background: orange;
}

.resume_section {
    width: 100%;
    background: yellow;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.resume_section ul {
    font-family: "Source Serif Pro", serif;
    font-size: 1rem;
    padding-left: 1em;
}

#affiliations {
    margin-bottom: 0;
}

@media only screen and (min-width: 760px) {
    #tablet-flex {
        display: -webkit-flex;
        display: flex;
        margin-top: 1rem;
    }

    #skills {
        width: 49%;
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    #affiliations {
        width: 49%;
        display: inline-block;
    }
}

@media only screen and (min-width: 950px) {
    #desktop-flex {
        display: -webkit-flex;
        display: flex;
    }

    #experience {
        width: 60%;
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    #education {
        width: 40%;
        display: inline-block;
        margin-bottom: 0;
    }
}

.under_heading {
    margin-top: 1em;
    margin-bottom: 1em;
}

.under_heading:last-of-type {
    margin-bottom: 0;
}

/* Footer */
footer {
    padding: 1rem;
    background: #333333;
    text-align: center;
}

footer h2 {
    color: grey;
    margin-bottom: 1em;
}

footer p {
    color: white;
    line-height: 1.5;
}
