html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

/* General Text Styling */
h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 4rem;
    letter-spacing: -0.05rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-family: "Source Sans Pro", serif;
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    display: inline-block;
    font-family: "Source Sans Pro", serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0;
    background: green;
    padding: 0.15rem;
    margin-bottom: 1rem;
}

h3.highlight {
    background: green;
    padding: 1rem;
}

h4 {
    font-family: "Source Serif Pro", serif;
    font-size: 1.2rem;
}

h5 {
    font-family: "Source Serif Pro", serif;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.5rrem;
}

p {
    font-family: "Source Serif Pro", serif;
    margin: 0;
    font-size: 1rem;
}

/* Landing Section */
.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background: red;
    text-align: center;
}

.landing_text_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Resume Section */
.resume_container {
    width: 100%;
    padding: 1rem;
    background: orange;
}

.resume_section {
    width: 100%;
    background: yellow;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.resume_section:last-of-type {
    margin-bottom: 0;
}

.resume_section ul {
    font-family: "Source Serif Pro", serif;
    font-size: 1rem;
    padding-left: 1em;
}

.under_heading {
    margin-top: 1em;
    margin-bottom: 1em;
}

.under_heading:last-of-type {
    margin-bottom: 0;
}

/* Footer */
footer {
    padding: 1rem;
}

footer p {
    text-align: left;
}

footer ul {
    list-style: none;
}
